<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.1" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net461" />
  <package id="NewRelic.Agent.Api" version="8.32.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="NServiceBus" version="7.2.3" targetFramework="net461" />
  <package id="NServiceBus.Log4Net" version="3.0.0" targetFramework="net461" />
  <package id="NServiceBus.Newtonsoft.Json" version="2.3.0" targetFramework="net461" />
  <package id="NServiceBus.RabbitMQ" version="5.0.0" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net461" />
</packages>